body{
    margin: auto;
    padding: 0;
    background: linear-gradient(to bottom right, cyan, mediumpurple) no-repeat fixed;
    height: auto;
    font-family: Arial, serif;
}
#changePass-form{
    border:#0c5460;
    border-radius: 10px;
    align-items: center;

}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
#ChangePass-wrap{
    background: white;
    border-radius: 30px;
    text-align: center;
    margin: 20px 150px;
    padding: 55px;
}
#title{
    font-size: 30px;
    font-weight: bold;
}
#pass-input, #repass-input{
    border-style: solid;
    border-width: 2px;
    margin: 1px 5px;
    padding: 5px 7px;
    width: 270px;
    background: transparent;
}
#button-continue, #button-cancel{
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 135px;
    color: white;
    font-size: 16px;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb4b, #03a9f4);
    background-size: 400%;
}
#button-continue:hover{
    animation: animate 8s linear infinite;
}
#button-cancel:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
 #pass-validate,#repass-validate{
    display:none;
    color: #0056b3;
    position: relative;
    padding: 5px;
    margin-top: 10px;
}

 #pass-validate p, #repass-validate p {
    padding: 10px 35px;
    font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: #16d373;
    transition: all 0.5s;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: crimson;
    transition: all 0.5s;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
/*#continue1-button, #cancel-button {

    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 135px;
    color: white;
    font-size: 16px;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb4b, #03a9f4);
    background-size: 400%;
}
/*#continue1-button, #cancel-button:hover{
    animation: animate 8s linear infinite;
}
/*#button{

    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 135px;
    color: white;
    font-size: 16px;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb4b, #03a9f4);
    background-size: 400%;
}*/
